.container {
    display: flex;
    
    justify-content: center;
    color: white;
    align-items: center;
    
}
.coins{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: calc(60% - 0.5px);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    
}
 .coin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    margin: 10px;
    border: 1px  solid white;
    border-radius: 10px;
    height: 210px;
    width: 20%;
    
    
}


.coin-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 135%;
    
}
.coin-title h2{
    margin-right: auto;
}
.coin-title h2,h3{
    font-size: 1.17em;
}
.coin-title h3{
    font-size: 0.9em;
}

.change-percentage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 135%;
    
}
.change-percentage{
    color: white;
    font-size: 1em;
    
}
.isDown{
   
    filter:hue-rotate(300deg) saturate(210%) brightness(0.7) contrast(170%);
}

.isUp {
    filter: hue-rotate(85deg) saturate(80%) brightness(0.85);
}